<a href="https://colab.research.google.com/github/okana2ki/intro-to-AI/blob/main/timetable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 時間割エクセルファイルの読み込みとhtmlファイルへの出力
## GPT o3-mini-highへの指示

添付した時間割データを読み込んで、html形式の表としてhtmlファイルに出力して下さい。ただし、添付した時間割データの形式は以下の通り：

### 各行の内容

以下では、行番号は、ヘッダー行も含めて１行目、２行目、・・・と数える。

・ヘッダー行は３行：１行目は表のタイトル、２行目は曜日のラベル、３行目は記入項目のラベル。データ本体は４行目以降。

- 1限の前期開講科目は、5行から9行に記載
- 1限の通年開講科目は、12行から15行に記載
- 1限の後期開講科目は、18行から22行に記載

- 2限の前期開講科目は、25行から30行に記載
- 2限の通年開講科目は、33行から37行に記載
- 2限の後期開講科目は、40行から46行に記載

- 3限の前期開講科目は、49行から53行に記載
- 3限の通年開講科目は、56行から62行に記載
- 3限の後期開講科目は、65行から69行に記載

- 4限の前期開講科目は、72行から76行に記載
- 4限の通年開講科目は、79行から82行に記載
- 4限の後期開講科目は、85行から89行に記載

- 5限の前期開講科目は、92行から96行に記載
- 5限の通年開講科目は、99行から102行に記載
- 5限の後期開講科目は、105行から109行に記載

### 各列の内容

・A列は空列。B列は時限のラベル（１から５の数字）が記入されており、各時限の開始・終了時刻（9:00, 10:30など）も書かれている。C列は学期のラベル（前期、通年、後期）。データ本体はD列以降。

月曜の科目の記載列は次の通り：
- 開講年次：D列
- 科目：E列
- コード：H列
- 教員名：I列
- 教室：J列

火曜の科目の記載列は次の通り：
- 開講年次：K列
- 科目：L列
- コード：M列
- 教員名：N列
- 教室：O列

水曜の科目の記載列は次の通り：
- 開講年次：P列
- 科目：Q列
- コード：T列
- 教員名：U列
- 教室：V列

木曜の科目の記載列は次の通り：
- 開講年次：W列
- 科目：X列
- コード：AA列
- 教員名：AB列
- 教室：AD列

金曜の科目の記載列は次の通り：
- 開講年次：AE列
- 科目：AF列
- コード：AI列
- 教員名：AJ列
- 教室：AL列

・「科目」列には科目名が記載されているが、以下の科目では、「科目名」に「クラス」が付記されている：
- 科目名：情報処理応用、クラス：〈営1〉,〈営2〉,〈営3〉,〈営4〉
- 科目名：情報処理基礎、クラス：〈営〉
- 科目名：教育行政学、クラス：[教職]
- 科目名：スポーツ総合、クラス：　<営>
- 科目名：進路研究演習１、クラス：a 武次玄三,b 安井　誠,c 雜賀智子,d 堀下　翔,e 岩切道雄,f 若松朋也,g 藏屋滉平
- 科目名：実践英会話Ⅰ、クラス：（１年次対象）
- 科目名：実践英会話Ⅱ、クラス：（１年次対象）
- 科目名：実践英会話Ⅰ、クラス：(１年次対象)
- 科目名：実践英会話Ⅱ、クラス：（１年次対象）
- 科目名：数学ステップアップ講座A、クラス：（１クラス）
- 科目名：数学ステップアップ講座B、クラス：（１クラス）
- 科目名：数学ステップアップ講座A、クラス：（２クラス）
- 科目名：数学ステップアップ講座B、クラス：（２クラス）
- 科目名：教育原理、クラス：［教職］
- 科目名：教育心理学、クラス：［教職］
- 科目名：教職概論、クラス：［教職］

・上記のように、付記された「クラス」情報の部分には、括弧類の半角／全角の表記揺れが存在する。科目名とクラスの間に全角スペースが挟まれているものもある（例：スポーツ総合　<営>）。「クラス」情報に出てくる半角の()は全角の（）に統一して下さい。半角の<>は全角の＜＞に統一して下さい。半角の[]は全角の［］に統一して下さい。科目名とクラスの間の全角スペースや半角スペースは削除して下さい。

### 例外処理

木曜３限の通年科目については、元データが特殊な形式で書かれているため、例外処理が必要。
このセルの掲載科目は次の７科目として下さい。

開講年次：➊、科目名：進路研究演習１、クラス：a 武次玄三、コード：21、教室：5401
開講年次：➊、科目名：進路研究演習１、クラス：b 安井　誠、コード：22、教室：5402
開講年次：➊、科目名：進路研究演習１、クラス：c 雜賀智子、コード：23、教室：5403
開講年次：➊、科目名：進路研究演習１、クラス：d 堀下　翔、コード：24、教室：5404
開講年次：➊、科目名：進路研究演習１、クラス：e 岩切道雄、コード：25、教室：5405
開講年次：➊、科目名：進路研究演習１、クラス：f 若松朋也、コード：30、教室：3104
開講年次：➊、科目名：進路研究演習１、クラス：g 藏屋滉平、コード：31、教室：3203

In [1]:
# prompt: google driveからファイルを読み込む

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd
import re

# ファイルのパスを指定します。
file_path = '/content/drive/MyDrive/Colab_files/2025keiei1.xlsx'  # 自分のファイルのパスに変更してください

# Excelファイルの読み込み（ヘッダーなし）
df = pd.read_excel(file_path, header=None)

# ヘッダー部の取得
title = df.iloc[0, 0]  # 1行目（タイトル）
weekdays = df.iloc[1, 3:3+5].tolist()  # 2行目、例としてD～H列を曜日ラベルと仮定
labels = df.iloc[2, 3:3+5].tolist()  # 3行目、項目ラベル（例）

# 定義：各時限・学期の行番号のブロック情報
# ※実際は0-indexedに直す必要がある（例：Excelの5行目はdf.iloc[4]）
blocks = {
    "1限": {"前期": (4, 9), "通年": (11, 15), "後期": (17, 22)},
    "2限": {"前期": (24, 30), "通年": (32, 37), "後期": (39, 46)},
    "3限": {"前期": (48, 53), "通年": (55, 62), "後期": (64, 69)},
    "4限": {"前期": (71, 76), "通年": (78, 82), "後期": (84, 89)},
    "5限": {"前期": (91, 96), "通年": (98, 102), "後期": (104, 109)}
}

# 曜日ごとの列マッピング（0-indexedに直す）
columns_map = {
    "月": {"年次": 3, "科目": 4, "コード": 7, "教員": 8, "教室": 9},
    "火": {"年次": 10, "科目": 11, "コード": 12, "教員": 13, "教室": 14},
    "水": {"年次": 15, "科目": 16, "コード": 19, "教員": 20, "教室": 21},
    "木": {"年次": 22, "科目": 23, "コード": 26, "教員": 27, "教室": 29},
    "金": {"年次": 30, "科目": 31, "コード": 34, "教員": 35, "教室": 37}
}

def normalize_subject(subject_str):
    """
    科目名に付与されるクラス情報の括弧類の表記揺れを正規化する。
    例：全角・半角の違い、前後のスペースの除去など
    """
    if pd.isna(subject_str):
        return ""
    # 全角スペースを半角に変換し、前後の空白を除去
    norm = subject_str.replace("　", " ").strip()
    # 括弧類の統一（例：〈,〉, <, >, ［,］, [, ] などを標準形式に）
    norm = re.sub(r"[〈<]", "〈", norm)
    norm = re.sub(r"[〉>]", "〉", norm)
    norm = re.sub(r"[（(]", "（", norm)
    norm = re.sub(r"[）)]", "）", norm)
    norm = re.sub(r"[［\[]", "［", norm)
    norm = re.sub(r"[］\]]", "］", norm)
    return norm

# データを格納する構造
timetable = {}

# 各時限・学期ごとにデータを抽出
for period, sem_dict in blocks.items():
    timetable[period] = {}
    for sem, (start, end) in sem_dict.items():
        # 各ブロック内の行を取得
        block_df = df.iloc[start:end]
        # 曜日ごとの情報を格納する辞書
        day_data = {}
        for day, cols in columns_map.items():
            entries = []
            for idx, row in block_df.iterrows():
                # 各項目の値を取得
                year = row.iloc[cols["年次"]]
                subject = normalize_subject(row.iloc[cols["科目"]])
                code = row.iloc[cols["コード"]]
                teacher = row.iloc[cols["教員"]]
                room = row.iloc[cols["教室"]]
                # 空でなければ情報をまとめる
                if pd.notna(subject) and subject != "":
                    entry = {
                        "年次": year,
                        "科目": subject,
                        "コード": code,
                        "教員": teacher,
                        "教室": room
                    }
                    entries.append(entry)
            day_data[day] = entries
        timetable[period][sem] = day_data

# 例外処理：木曜3限通年のセルの内容を無条件に上書き
if "3限" in timetable and "通年" in timetable["3限"]:
    timetable["3限"]["通年"]["木"] = [
        {"年次": "➊", "科目": "進路研究演習１ 〈a 武次玄三〉", "コード": 21, "教員": None, "教室": 5401},
        {"年次": "➊", "科目": "進路研究演習１ 〈b 安井　誠〉", "コード": 22, "教員": None, "教室": 5402},
        {"年次": "➊", "科目": "進路研究演習１ 〈c 雜賀智子〉", "コード": 23, "教員": None, "教室": 5403},
        {"年次": "➊", "科目": "進路研究演習１ 〈d 堀下　翔〉", "コード": 24, "教員": None, "教室": 5404},
        {"年次": "➊", "科目": "進路研究演習１ 〈e 岩切道雄〉", "コード": 25, "教員": None, "教室": 5405},
        {"年次": "➊", "科目": "進路研究演習１ 〈f 若松朋也〉", "コード": 30, "教員": None, "教室": 3104},
        {"年次": "➊", "科目": "進路研究演習１ 〈g 藏屋滉平〉", "コード": 31, "教員": None, "教室": 3203},
    ]

In [7]:
# HTMLテーブルの生成
html = []
html.append('<html>')
html.append('<head><meta charset="UTF-8"><style>')
html.append('table { border-collapse: collapse; }')
html.append('th, td { border: 1px solid #000; padding: 5px; }')
html.append('</style></head>')
html.append('<body>')

# タイトル行
html.append(f'<h2>{title}</h2>')

# 曜日ヘッダー（例として固定）
weekdays_list = ["月", "火", "水", "木", "金"]
html.append('<table>')
html.append('<thead>')
# ヘッダー：曜日行
html.append('<tr>')
html.append('<th>時限・学期</th>')
for day in weekdays_list:
    html.append(f'<th>{day}</th>')
html.append('</tr>')
html.append('</thead>')
html.append('<tbody>')

# 各時限、各学期のデータ出力
for period in ["1限", "2限", "3限", "4限", "5限"]:
    for sem in ["前期", "通年", "後期"]:
        html.append('<tr>')
        html.append(f'<td>{period} {sem}</td>')
        for day in weekdays_list:
            cell_entries = timetable.get(period, {}).get(sem, {}).get(day, [])
            if cell_entries:
                cell_html = ""
                for entry in cell_entries:
                    # 各エントリを改行で区切って表示
                    parts = []
                    if pd.notna(entry.get("年次")):
                        parts.append(f'年次: {entry.get("年次")}')
                    parts.append(f'科目: {entry.get("科目")}')
                    if pd.notna(entry.get("コード")):
                        parts.append(f'コード: {entry.get("コード")}')
                    if pd.notna(entry.get("教員")):
                        parts.append(f'教員: {entry.get("教員")}')
                    if pd.notna(entry.get("教室")):
                        parts.append(f'教室: {entry.get("教室")}')
                    cell_html += "<div>" + " | ".join(parts) + "</div>"
                html.append(f'<td>{cell_html}</td>')
            else:
                html.append('<td></td>')
        html.append('</tr>')

html.append('</tbody>')
html.append('</table>')
html.append('</body></html>')

html_output = "\n".join(html)

# HTMLファイルに書き込む
with open('/content/drive/MyDrive/Colab_files/timetable.html', 'w', encoding='utf-8') as file:
    file.write(html_output)